* {
    font-family: 'Work Sans', sans-serif;
    --main-color: #B157B8;
    /* Cambiar stroke (en rgb) de .custom-toggler .navbar-toggler-icon */
  }

.navHovers:hover {
    color: var(--main-color) !important;
}

nav {
    transition: .5s all ease;
}

.fotoTere {
    width: 100vw !important;
    height: 90vh !important;
    background-image: url(terefoto.jpg);
    background-size: cover;
    background-position: center;
} 

.fotoTere::before {
    content: '';
    width: 40%;
    height: 90vh;
    position: absolute;
    top: 90px;
    left: 0;
    background: rgba(46,51,73,0.75);
}

@media (max-width: 576px) {
    .fotoTere::before {
    background: rgba(46,51,73,0.5);
    width: 100%;
    }
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(177,87,184, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;  
}

.custom-toggler.navbar-toggler {
    border-color: var(--main-color) !important;
}

.secciones::before {       
    display: block;       
    content: " ";     
    margin-top: -50px;       
    height: 50px;       
    visibility: hidden; 
}

#typeText {
    overflow: hidden; 
    border-right: .15em solid var(--main-color); 
    white-space: nowrap; 
    animation:  typing 4s steps(8) .5s 1 normal both,
                blink-caret 600ms steps(15) 15 normal;
}

@keyframes typing {
    from { width: 0 }
    to { width: 112px }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--main-color); }
  } 

.nombreTitulo{
font-weight: 800; 
font-size: 3rem;
}

@media (min-width: 576px) {
    .nombreTitulo {
        font-size: 5rem !important;
    }
}
@media (max-width: 300px) {
    .nombreTitulo {
        font-size: 2rem !important;
    }
}

.topTitulo {
    font-weight: 600;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: medium;
}

.topTitulo2 {
    font-weight: 600;
    font-weight: bold;
    font-size: medium;
}

.hr1 {
    width: 5rem;
    background-color: var(--main-color);
    height: 3px !important;
}

.hr2 {
    width: 3rem;
    background-color: var(--main-color);
    height: 2px !important;
}

#carouselExampleIndicators {
    border-bottom: 3px solid var(--main-color);
}

@media (max-width: 318px) {
    #gmail {
        font-size: 0.6rem !important;
    }
}

@media (min-width: 319px) and (max-width: 424px) {
    #gmail {
        font-size: 0.8rem !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #gmail {
        font-size: 0.7rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #gmail {
        font-size: 9px !important;
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    #gmail {
        font-size: 11px !important;
    }
}

@media (min-width: 1401px) {
    #gmail {
        font-size: 14px !important;
    }
}

#tarMail {
    min-height: 256px !important;
    max-height: 256px !important;
}

.tarcontacto {
    border-bottom: 5px solid var(--main-color);
    background-color: var(--bs-white);
    color: black;
    transition: all 0.5s ease-out;
}

i {
    font-size: 3rem;
    color: var(--main-color);
    transition: all 0.5s ease-out;
}

.tarcontacto:hover {
    border-bottom: 5px solid black;
    background-color: var(--main-color);
    color: var(--bs-white) !important;
}

#tereMiniatura {
    border-bottom: 3px solid var(--main-color);
    border-bottom-right-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
    object-fit: cover;
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s linear;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

.redes {
    border-bottom: 2px solid var(--main-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 2px solid #ddd;
    color: #aaa;
    transition: all 0.3s;
    font-size: 1.3rem;
    padding: 7px;
    margin: 20px 5px;
    width: 20px;
    height: 20px;
}

.redes:hover {
    color: var(--bs-white);
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
}

footer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerP {
    margin: auto;
}
